$primary-green: #00600C
$font-family: Poppins, sans-serif

$mobile-button-width: 272px
$mobile-button-height: 48px
$button-border-radius: 30px

@mixin button($background-color, $color: white, $border: none)
  width: $mobile-button-width
  height: $mobile-button-height
  border-radius: $button-border-radius
  background-color: $background-color
  color: $color
  border: $border

@mixin text($font-weight, $font-size, $line-height, $letter-spacing: normal)
  font-family: $font-family
  font-weight: $font-weight
  font-size: $font-size
  line-height: $line-height
  letter-spacing: $letter-spacing

*
  padding: 0
  margin: 0

body.active
  overflow: hidden

header
  display: flex
  align-items: center
  justify-content: space-between
  padding: 0 15px 0
  height: 70px

.mobile-text
  display: none

nav
  display: flex
  flex-direction: column
  align-items: center

.menu
  display: none

  &.active
    display: flex
    flex-direction: column
    width: 100%
    height: 100%
    position: fixed
    top: 60px
    left: 0
    background-color: white
    z-index: 1
    border-top: 1px solid #00000033
    margin-top: 7px
    ul
      list-style: none
      padding-left: 24px
      margin: 0
    li
        border-bottom: 1px solid #0000000D
        padding: 20px 0 20px 0
    a
        @include text(600, 14px, 22px)
        text-decoration: none
        color: #000000
    button
      @include button($primary-green)
      display: block
      margin: 0 auto
      padding: 12px 32px 12px 32px
      gap: 10px
      position: relative
      top: 10%

.hamburger.active .bar:nth-child(2)
  opacity: 0

.hamburger.active .bar:nth-child(1)
  transform: translateY(9px) rotate(45deg)

.hamburger.active .bar:nth-child(3)
  transform: translateY(-9px) rotate(-46deg)

.bar
  background-color: black
  width: 25px
  height: 5.84px
  top: 23px
  left: 271px
  padding: 0
  border-radius: 3px
  margin-top: 3px

.section-one
  display: flex
  justify-content: center
  height: 433px
  box-sizing: border-box
  background: linear-gradient(0.65turn, #75C5AE, #70A370, #528850)
  .container
    display: flex
    flex-direction: column
    justify-content: space-between
    align-items: center
    text-align: center
    width: $mobile-button-width
    height: 65%
    margin-top: 40px
  h3
    @include text(600, 28px, 36px, -1px)
    padding-bottom: 10px
    span
      color: $primary-green
  p
    @include text(300, 15px, 22px)
    padding-bottom: 20px

.section-two
  display: flex
  justify-content: center
  height: 870px
  .container
    display: flex
    flex-direction: column
    align-items: center
    text-align: center
    width: $mobile-button-width
    margin-top: 30px
    font-size: 0 //to remove spaces between buttons
  h4
    @include text(600, 24px, 34px)
  p
    @include text(400, 15px, 22px, -0.5px)
    margin: 15px 0
  .tab
    margin-top: 10px
    margin-bottom: 20px
    .tab-link
      border: none
      background-color: white
      width: 55px
      padding-bottom: 5px
      border-bottom: 1px solid #0000000D
  .tab-content
    display: none
  .tab-content.active
    display: flex
    flex-direction: column
    justify-content: center
    height: 377px
    width: 272px
    background-color: #CFE9D5
    border-radius: 24px
    margin-bottom: 50px
    padding: 0 25px
    box-sizing: border-box
    p:nth-child(1)
      @include text(500, 20px, 26px, -1px)
      margin: 0
    p:nth-child(2)
      @include text(400, 13px, 20px, -0.25px)

.download-button
  @include button($primary-green)
  @include text(600, 18px, 31px, -0.5px)
  border-radius: $button-border-radius

.section-three
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  height: 1055px
  background-color: #EEFFF0
  .container
    height: 90%
    width: $mobile-button-width
  h4
    @include text(600, 24px, 34px)
    text-align: center
  .wrapper
    display: flex
    flex-direction: column
    justify-content: space-evenly
    align-items: center
    height: 242px
    margin: 25px 0
    p
      @include text(700, 18px, 28px)
      text-align: center
    li
      @include text(300, 12px, 20px)
      list-style: none
    li::before
      content: url("img/check-mark.svg")
      vertical-align: middle

.section-four
  height: 367px
  display: flex
  justify-content: center
  align-items: center
  .slider
    display: flex
    flex-direction: column
    align-items: center
    justify-content: space-evenly
    height: 186px
    width: 65%
    .slide:nth-of-type(2)
      display: none
    .slide:nth-of-type(3)
      display: none
    .slide
      height: 186px
      padding: 10px
      box-sizing: border-box
      display: flex
      flex-direction: column
      align-items: center
      text-align: center
      justify-content: center
      margin-bottom: 10px
      p:nth-of-type(1)
        @include text(600, 14px, 22px, -0.25px)
        margin: 10px 0
      p:nth-of-type(2)
        @include text(400, 12px, 16px)
    .mobile-slider-arrows
      display: flex
      justify-content: space-around
      width: 80%
    .desktop-slider-arrows
      display: none
    .ellipse
      width: 48px
      height: 48px
      border: 2px solid green
      border-radius: 50%
    .arrow
      transform: translateX(40%) translateY(60%)

.section-five
  height: 658px
  background-color: #E2F2E4
  display: flex
  justify-content: center
  text-align: center
  .desktop-container
    display: none
  .mobile-container
    display: flex
    flex-direction: column
    justify-content: space-evenly
    width: $mobile-button-width
    h4
      @include text(600, 24px, 34px, -1px)
      margin-bottom: 5px
    p
      @include text(400, 15px, 22px, -0.5px)
    .buy-now-button
      @include button(transparent, $primary-green, 2px solid $primary-green)
      @include text(600, 18px, 31px, -0.5px)
      border-radius: $button-border-radius
      margin-top: 20px

footer
  display: flex
  justify-content: center
  height: 250px
  .container
    display: flex
    flex-direction: column
    justify-content: space-evenly
    text-align: center
    width: 75%
    ol
      display: flex
      flex-wrap: wrap
      justify-content: space-evenly
      align-items: center
      list-style: none
    li
      @include text(400, 13px, 39px)
      display: inline
      margin: 10px
    .text-wrapper
      @include text(400, 14px, 21px)

.download-button:hover, .buy-now-button:hover
  box-shadow: 2px 2px 2px green

@media only screen and (min-width: 744px)
  .mobile-text
    display: inline-block
    position: absolute
    left: 80px
    font-family: Righteous, sans-serif
    font-weight: 600
    font-size: 25px
    line-height: 23px
  nav
    width: 50%
  .hamburger
    display: none
  .menu
    display: flex
    justify-content: space-between
    width: 100%
    padding: 0 5%
    box-sizing: border-box
    ul
      display: flex
      align-items: center
      justify-content: space-between
      list-style: none
      width: 70%
    a
      @include text(600, 14px, 22px)
      text-decoration: none
      color: #000000
    button
      width: 115px
      height: 48px
      margin-left: 5%

  .section-one
    height: 470px
    .container
      margin: 0
      height: 100%
      width: 36%
      justify-content: space-evenly
      h3
        @include text(600, 3.5vw, 8vh, -1px)
      p
        @include text(400, 18px, 26px, -0.5px)
      button
        width: 196px
        margin-bottom: 5px

  .section-two
    height: 813px
    .container
      padding: 2% 0
      width: 46%
      justify-content: space-evenly
      h4
        @include text(600, 36px, 42px, -0.44px)
      p
        @include text(initial, 18px, 26px)
      .tab
        .tab-link
          width: 80px
      .tab-content
        width: 100%
        height: 40%
        margin-bottom: 2%
        p:nth-child(1)
          @include text(initial, 23px, 34px)
        p:nth-child(2)
          @include text(initial, 14px, 27px)
      .download-button
        width: 304px

  .section-three
    height: 517px
    .container
      width: 60%
      height: 80%
      justify-content: center
      h4
        @include text(600, 36px, 42px, -1px)
      .flex-wrapper
        display: flex
        justify-content: space-evenly
        .wrapper
          margin-left: 5px
          svg
            height: 96px
          ul
            height: 80px

  .section-four
    .slider
      flex-direction: row
      width: 70vw
      #all-slides
        display: flex
        flex-direction: row
      .slide
        display: flex
        flex-direction: row
        align-items: center
        width: 20vw
        margin: 0 2px
        svg
          width: 8vw
          height: 85%
        .slide-text
          width: 18vw
          display: flex
          flex-direction: column
          justify-content: flex-start
          text-align: left
          margin-left: 2px
          p:nth-of-type(1)
            font-size: 90%
            font-family: $font-family
            margin: 0
          p:nth-of-type(2)
            font-size: 80%
            font-family: $font-family
      .arrow
        transform: translateX(150%) translateY(35%)
      .slide:nth-of-type(2)
        display: flex
      .slide:nth-of-type(3)
        display: flex
      .mobile-slider-arrows
          display: none !important
      .desktop-slider-arrows
          display: flex !important
          color: palegoldenrod

  .section-five
    height: 515px
    .mobile-container
      display: none
    .desktop-container
      width: 65%
      display: flex
      justify-content: space-between
      align-items: flex-end
    .wrapper
      display: flex
      flex-direction: column
      text-align: left
      justify-content: center
      width: 32vw
      height: 100%
      h4
        @include text(600, 4.85vh, 3.5vw, -1px)
        margin-bottom: 3%
      p
        @include text(400, 3vh, 3.5vh, -0.5px)
    .buttons-wrapper
      display: flex
      margin-top: 5%
      button
        width: 50%
        height: 44px
        border: 2px solid green
        border-radius: 30px
        margin-right: 5%
        font-size: 16px
      .buy-now-button
        @include text(600, 18px, 31px, -0.5px)
        background-color: transparent
        color: #00600C
    img
      height: 60vh
      width: 40vw

  footer
    height: 130px
    .text-wrapper
      display: flex
      flex-direction: row
      justify-content: center
      width: 100%
      p
        margin: 5px