* {
  padding: 0;
  margin: 0;
}

body.active {
  overflow: hidden;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px 0;
  height: 70px;
}

.mobile-text {
  display: none;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu {
  display: none;
}
.menu.active {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 60px;
  left: 0;
  background-color: white;
  z-index: 1;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  margin-top: 7px;
}
.menu.active ul {
  list-style: none;
  padding-left: 24px;
  margin: 0;
}
.menu.active li {
  border-bottom: 1px solid rgba(0, 0, 0, 0.0509803922);
  padding: 20px 0 20px 0;
}
.menu.active a {
  font-family: Poppins, sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: normal;
  text-decoration: none;
  color: #000000;
}
.menu.active button {
  width: 272px;
  height: 48px;
  border-radius: 30px;
  background-color: #00600C;
  color: white;
  border: none;
  display: block;
  margin: 0 auto;
  padding: 12px 32px 12px 32px;
  gap: 10px;
  position: relative;
  top: 10%;
}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
  transform: translateY(9px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
  transform: translateY(-9px) rotate(-46deg);
}

.bar {
  background-color: black;
  width: 25px;
  height: 5.84px;
  top: 23px;
  left: 271px;
  padding: 0;
  border-radius: 3px;
  margin-top: 3px;
}

.section-one {
  display: flex;
  justify-content: center;
  height: 433px;
  box-sizing: border-box;
  background: linear-gradient(0.65turn, #75C5AE, #70A370, #528850);
}
.section-one .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: 272px;
  height: 65%;
  margin-top: 40px;
}
.section-one h3 {
  font-family: Poppins, sans-serif;
  font-weight: 600;
  font-size: 28px;
  line-height: 36px;
  letter-spacing: -1px;
  padding-bottom: 10px;
}
.section-one h3 span {
  color: #00600C;
}
.section-one p {
  font-family: Poppins, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: normal;
  padding-bottom: 20px;
}

.section-two {
  display: flex;
  justify-content: center;
  height: 870px;
}
.section-two .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 272px;
  margin-top: 30px;
  font-size: 0;
}
.section-two h4 {
  font-family: Poppins, sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 34px;
  letter-spacing: normal;
}
.section-two p {
  font-family: Poppins, sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: -0.5px;
  margin: 15px 0;
}
.section-two .tab {
  margin-top: 10px;
  margin-bottom: 20px;
}
.section-two .tab .tab-link {
  border: none;
  background-color: white;
  width: 55px;
  padding-bottom: 5px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.0509803922);
}
.section-two .tab-content {
  display: none;
}
.section-two .tab-content.active {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 377px;
  width: 272px;
  background-color: #CFE9D5;
  border-radius: 24px;
  margin-bottom: 50px;
  padding: 0 25px;
  box-sizing: border-box;
}
.section-two .tab-content.active p:nth-child(1) {
  font-family: Poppins, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: -1px;
  margin: 0;
}
.section-two .tab-content.active p:nth-child(2) {
  font-family: Poppins, sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: -0.25px;
}

.download-button {
  width: 272px;
  height: 48px;
  border-radius: 30px;
  background-color: #00600C;
  color: white;
  border: none;
  font-family: Poppins, sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 31px;
  letter-spacing: -0.5px;
  border-radius: 30px;
}

.section-three {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 1055px;
  background-color: #EEFFF0;
}
.section-three .container {
  height: 90%;
  width: 272px;
}
.section-three h4 {
  font-family: Poppins, sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 34px;
  letter-spacing: normal;
  text-align: center;
}
.section-three .wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 242px;
  margin: 25px 0;
}
.section-three .wrapper p {
  font-family: Poppins, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: normal;
  text-align: center;
}
.section-three .wrapper li {
  font-family: Poppins, sans-serif;
  font-weight: 300;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: normal;
  list-style: none;
}
.section-three .wrapper li::before {
  content: url("img/check-mark.svg");
  vertical-align: middle;
}

.section-four {
  height: 367px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-four .slider {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 186px;
  width: 65%;
}
.section-four .slider .slide:nth-of-type(2) {
  display: none;
}
.section-four .slider .slide:nth-of-type(3) {
  display: none;
}
.section-four .slider .slide {
  height: 186px;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-bottom: 10px;
}
.section-four .slider .slide p:nth-of-type(1) {
  font-family: Poppins, sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: -0.25px;
  margin: 10px 0;
}
.section-four .slider .slide p:nth-of-type(2) {
  font-family: Poppins, sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: normal;
}
.section-four .slider .mobile-slider-arrows {
  display: flex;
  justify-content: space-around;
  width: 80%;
}
.section-four .slider .desktop-slider-arrows {
  display: none;
}
.section-four .slider .ellipse {
  width: 48px;
  height: 48px;
  border: 2px solid green;
  border-radius: 50%;
}
.section-four .slider .arrow {
  transform: translateX(40%) translateY(60%);
}

.section-five {
  height: 658px;
  background-color: #E2F2E4;
  display: flex;
  justify-content: center;
  text-align: center;
}
.section-five .desktop-container {
  display: none;
}
.section-five .mobile-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 272px;
}
.section-five .mobile-container h4 {
  font-family: Poppins, sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 34px;
  letter-spacing: -1px;
  margin-bottom: 5px;
}
.section-five .mobile-container p {
  font-family: Poppins, sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: -0.5px;
}
.section-five .mobile-container .buy-now-button {
  width: 272px;
  height: 48px;
  border-radius: 30px;
  background-color: transparent;
  color: #00600C;
  border: 2px solid #00600C;
  font-family: Poppins, sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 31px;
  letter-spacing: -0.5px;
  border-radius: 30px;
  margin-top: 20px;
}

footer {
  display: flex;
  justify-content: center;
  height: 250px;
}
footer .container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  width: 75%;
}
footer .container ol {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
}
footer .container li {
  font-family: Poppins, sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 39px;
  letter-spacing: normal;
  display: inline;
  margin: 10px;
}
footer .container .text-wrapper {
  font-family: Poppins, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: normal;
}

.download-button:hover, .buy-now-button:hover {
  box-shadow: 2px 2px 2px green;
}

@media only screen and (min-width: 744px) {
  .mobile-text {
    display: inline-block;
    position: absolute;
    left: 80px;
    font-family: Righteous, sans-serif;
    font-weight: 600;
    font-size: 25px;
    line-height: 23px;
  }
  nav {
    width: 50%;
  }
  .hamburger {
    display: none;
  }
  .menu {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 5%;
    box-sizing: border-box;
  }
  .menu ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    width: 70%;
  }
  .menu a {
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: normal;
    text-decoration: none;
    color: #000000;
  }
  .menu button {
    width: 115px;
    height: 48px;
    margin-left: 5%;
  }
  .section-one {
    height: 470px;
  }
  .section-one .container {
    margin: 0;
    height: 100%;
    width: 36%;
    justify-content: space-evenly;
  }
  .section-one .container h3 {
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 3.5vw;
    line-height: 8vh;
    letter-spacing: -1px;
  }
  .section-one .container p {
    font-family: Poppins, sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: -0.5px;
  }
  .section-one .container button {
    width: 196px;
    margin-bottom: 5px;
  }
  .section-two {
    height: 813px;
  }
  .section-two .container {
    padding: 2% 0;
    width: 46%;
    justify-content: space-evenly;
  }
  .section-two .container h4 {
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: -0.44px;
  }
  .section-two .container p {
    font-family: Poppins, sans-serif;
    font-weight: initial;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: normal;
  }
  .section-two .container .tab .tab-link {
    width: 80px;
  }
  .section-two .container .tab-content {
    width: 100%;
    height: 40%;
    margin-bottom: 2%;
  }
  .section-two .container .tab-content p:nth-child(1) {
    font-family: Poppins, sans-serif;
    font-weight: initial;
    font-size: 23px;
    line-height: 34px;
    letter-spacing: normal;
  }
  .section-two .container .tab-content p:nth-child(2) {
    font-family: Poppins, sans-serif;
    font-weight: initial;
    font-size: 14px;
    line-height: 27px;
    letter-spacing: normal;
  }
  .section-two .container .download-button {
    width: 304px;
  }
  .section-three {
    height: 517px;
  }
  .section-three .container {
    width: 60%;
    height: 80%;
    justify-content: center;
  }
  .section-three .container h4 {
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: -1px;
  }
  .section-three .container .flex-wrapper {
    display: flex;
    justify-content: space-evenly;
  }
  .section-three .container .flex-wrapper .wrapper {
    margin-left: 5px;
  }
  .section-three .container .flex-wrapper .wrapper svg {
    height: 96px;
  }
  .section-three .container .flex-wrapper .wrapper ul {
    height: 80px;
  }
  .section-four .slider {
    flex-direction: row;
    width: 70vw;
  }
  .section-four .slider #all-slides {
    display: flex;
    flex-direction: row;
  }
  .section-four .slider .slide {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 20vw;
    margin: 0 2px;
  }
  .section-four .slider .slide svg {
    width: 8vw;
    height: 85%;
  }
  .section-four .slider .slide .slide-text {
    width: 18vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
    margin-left: 2px;
  }
  .section-four .slider .slide .slide-text p:nth-of-type(1) {
    font-size: 90%;
    font-family: Poppins, sans-serif;
    margin: 0;
  }
  .section-four .slider .slide .slide-text p:nth-of-type(2) {
    font-size: 80%;
    font-family: Poppins, sans-serif;
  }
  .section-four .slider .arrow {
    transform: translateX(150%) translateY(35%);
  }
  .section-four .slider .slide:nth-of-type(2) {
    display: flex;
  }
  .section-four .slider .slide:nth-of-type(3) {
    display: flex;
  }
  .section-four .slider .mobile-slider-arrows {
    display: none !important;
  }
  .section-four .slider .desktop-slider-arrows {
    display: flex !important;
    color: palegoldenrod;
  }
  .section-five {
    height: 515px;
  }
  .section-five .mobile-container {
    display: none;
  }
  .section-five .desktop-container {
    width: 65%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  .section-five .wrapper {
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    width: 32vw;
    height: 100%;
  }
  .section-five .wrapper h4 {
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 4.85vh;
    line-height: 3.5vw;
    letter-spacing: -1px;
    margin-bottom: 3%;
  }
  .section-five .wrapper p {
    font-family: Poppins, sans-serif;
    font-weight: 400;
    font-size: 3vh;
    line-height: 3.5vh;
    letter-spacing: -0.5px;
  }
  .section-five .buttons-wrapper {
    display: flex;
    margin-top: 5%;
  }
  .section-five .buttons-wrapper button {
    width: 50%;
    height: 44px;
    border: 2px solid green;
    border-radius: 30px;
    margin-right: 5%;
    font-size: 16px;
  }
  .section-five .buttons-wrapper .buy-now-button {
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 31px;
    letter-spacing: -0.5px;
    background-color: transparent;
    color: #00600C;
  }
  .section-five img {
    height: 60vh;
    width: 40vw;
  }
  footer {
    height: 130px;
  }
  footer .text-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  footer .text-wrapper p {
    margin: 5px;
  }
}

/*# sourceMappingURL=styles.css.map */
